#content{
    border-color: black;
    border-style: solid;
    margin: 20px;
    padding: 5px;
    background-clip: content-box;
}
#navbar{
    border-color: black;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    background-clip: content-box;
}
#left-nav-bar{
    padding: 20px;
}