#post{
    border-color: #18CAE6;
    border-style: solid;
    border-width: 3px;
    background-color: black;
    margin: 5px;
    padding: 3px;
}
#body{
    color: #18CAE6;
    background-color: black;
}
#comment{
    border-style: double;
    border-width: 4px;
    margin: 4px;
    padding: 2px;
}
img{
    -webkit-filter: invert(1);
    filter: invert(1)
}
